// ────────────── Named Workspaces ──────────────
// Named workspaces are persistent and always exist
// https://variety4me.github.io/niri_docs/Configuration-Named-Workspaces/

workspace "home" {
  open-on-output "HDMI-A-2"
}

workspace "tmux" {
  open-on-output "HDMI-A-2"
}

workspace "music" {
  open-on-output "HDMI-A-2"
}

workspace "notes"{
  open-on-output "HDMI-A-2"
}

workspace "chat"{
  open-on-output "HDMI-A-2"
}
